:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Readex Pro", sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #4b4b4b;
}
