:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Readex Pro", sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;

  height: 100%;
}
