.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  margin-bottom: 28px;
}
.header__icon {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 8px 20px 8px 13px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 33px;
}
.nav__list-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.nav__list-item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 34px;
}
.nav__list-item:nth-child(3) {
  margin-right: 44px;
}
.nav__list-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
}

.store {
  margin-bottom: 28px;
}
.store__container {
  max-width: 1294px;
}
.store__slide {
  position: relative;
  padding-left: 56px;
  display: flex;
  border-radius: 32px;
  background: #dce5e2;
}
.store__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 27px 0 27px;
}
.store__prev {
  z-index: 10;
  position: absolute;
  top: 50%;
  background: transparent;
  left: 18px;
}
.store__next {
  right: 18px;
  z-index: 10;
  position: absolute;
  top: 50%;
  background: transparent;
}
.store__info {
  display: flex;
  align-items: center;
  max-width: 588px;
}
.store__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 58px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 19px;
}
.store__info-text {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}
.store__info-button {
  border: 1px solid #000;
  border-radius: 200px;
  max-width: 170px;
  background: transparent;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
  padding: 14px 53px;
  animation: buzz 0.3s linear infinite;
}
.store__info-button:hover {
  box-shadow: 1px 6px 8px 6px rgba(34, 60, 80, 0.14);
  animation: none;
  transform: scale(1.04);
  transition: all 0.6s;
}
@keyframes buzz {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1.3px);
  }
  100% {
    transform: translateX(0);
  }
}
.store__pictures img {
  width: 100%;
}

.swiper-pagination-bullet {
  height: 2px;
  border: navajowhite;
  max-width: 194px;
  background: #000;
  width: 100%;
  border-radius: 0;
}

.shop__wrapper {
  padding: 0 28px;
  margin: 0 auto;
  max-width: 1350px;
}
.shop__info {
  padding-top: 19px;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  margin-bottom: 55px;
}
.shop__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.shop__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  color: #000;
  margin-bottom: 9px;
}
.shop__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  max-height: 792px;
}
.shop__laptop {
  cursor: pointer;
  width: 100%;
  max-width: 639px;
  padding: 0 42px;
  grid-column: 1/3;
  grid-row: 1/3;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
}
.shop__laptop:hover {
  scale: 1.02;
  transition: all 0.6s;
}
.shop__laptop-img img {
  width: 100%;
}
.shop__laptop-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.shop__laptop-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
  max-width: 192px;
}
.shop__laptop-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.28;
  color: #000;
}
.shop__phones {
  cursor: pointer;
  width: 100%;
  max-width: 312px;
  padding-left: 16px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  grid-column: 3/4;
  grid-row: 1/4;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
}
.shop__phones:hover {
  scale: 1.02;
  transition: all 0.6s;
}
.shop__phones-img img {
  width: 100%;
}
.shop__phones-info {
  margin: 0 auto;
  text-align: center;
  max-width: 255px;
}
.shop__phones-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}
.shop__phones-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.28;
  color: #000;
}
.shop__tablet {
  cursor: pointer;
  width: 100%;
  max-width: 312px;
  padding-top: 82px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  grid-column: 4/5;
  grid-row: 1/4;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
}
.shop__tablet:hover {
  scale: 1.02;
  transition: all 0.6s;
}
.shop__tablet-img {
  max-width: 312px;
  max-height: 425px;
  height: 100%;
  background: url(../media/sect-shop/tablet.png) center/cover no-repeat;
}
.shop__tablet-info {
  text-align: center;
  max-width: 233px;
}
.shop__tablet-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}
.shop__tablet-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.28;
  color: #000;
}
.shop__watch {
  cursor: pointer;
  width: 100%;
  max-width: 639px;
  padding-right: 42px;
  display: flex;
  grid-column: 1/3;
  grid-row: 3/4;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
}
.shop__watch:hover {
  scale: 1.02;
  transition: all 0.6s;
}
.shop__watch-img img {
  width: 100%;
}
.shop__watch-info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: right;
  max-width: 174.25px;
}
.shop__watch-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}
.shop__watch-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.28;
  color: #000;
}

.sale__container {
  padding: 51px 28px 28px;
}
.sale__info {
  padding-top: 19px;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  margin-bottom: 31px;
}
.sale__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.sale__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  color: #000;
  margin-bottom: 9px;
}
.sale__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.sale__item {
  max-width: 302.5px;
}
.sale__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #000;
  margin-bottom: 8px;
}
.sale__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #4b4b4b;
  max-width: 261px;
  margin-bottom: 8px;
}
.sale__description--margin {
  margin-bottom: 25px;
}
.sale__price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.prime__info {
  padding-top: 19px;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  margin-bottom: 31px;
}
.prime__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.prime__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  color: #000;
  margin-bottom: 9px;
}
.prime__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.prime__item {
  max-width: 413px;
  background: #f8f9fa;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 41px 80px 0;
}
.prime__wrapper {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.prime__wrapper-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  color: #000;
}
.prime__wrapper-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.29;
  text-align: center;
  color: #000;
}
.prime__button {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 200px;
  width: 190px;
  height: 50px;
  margin-bottom: 30px;
  padding: 14px 63px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  color: #000;
}

.ideas {
  margin-bottom: 24px;
}
.ideas__info {
  padding-top: 19px;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  margin-bottom: 31px;
}
.ideas__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.ideas__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  color: #000;
  margin-bottom: 9px;
}
.ideas__content {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}
.ideas__blog {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 14px 0 0 35px;
}
.ideas__blog-text {
  max-width: 600px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #000;
}
.ideas__link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: start;
}
.ideas__link-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.look__info {
  padding-top: 19px;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  margin-bottom: 31px;
}
.look__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  color: #000;
  margin-bottom: 9px;
}
.look__bar {
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 650px;
  padding: 15px 0 16px 17px;
  background: #f8f9fa;
  margin-bottom: 18px;
}
.look__bar-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}
.look__bar-input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  text-align: left;
}
.look__bar-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  text-align: left;
}
.look__search {
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 66px 0 59px;
  max-width: 660px;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.look__search-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border: 1px solid #c5c5c5;
  border-radius: 200px;
  padding: 12px 0 13px;
}
.look__search-button:nth-child(1) {
  max-width: 90px;
}
.look__search-button:nth-child(2) {
  max-width: 98px;
}
.look__search-button:nth-child(3) {
  max-width: 68px;
}
.look__search-button:nth-child(4) {
  max-width: 142px;
}
.look__search-button:nth-child(5) {
  max-width: 109px;
}
.look__search-button:nth-child(6) {
  max-width: 118px;
}
.look__search-button:nth-child(7) {
  max-width: 109px;
}
.look__search-button:nth-child(8) {
  max-width: 91px;
}
.look__search-button:nth-child(9) {
  max-width: 89px;
}/*# sourceMappingURL=styles.css.map */